/**** GENERAL ****/
html, body{
    margin: 0px;
}
/**** Fin GENERAL ****/

/***** HEADER ****/
div#fond_bois{
    background-image: url("assets/images/fond_bois_coezion.jpg");
    height: 50px;
}
div.navigation-top #mega-menu-wrap-Top, img{
    background-color: #fff;
}

header img#logo{
    display: block;
    width: 37%;
    margin-left: auto;
    margin-right: auto;
}
/* Menu */
#mega-menu-wrap-Top{
    background: none;
}
#mega-menu-wrap-Top ul#mega-menu-Top{
    list-style: none;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
#mega-menu-wrap-Top ul#mega-menu-Top li{
    display: inline-block;
    padding-right: 1em;
    white-space: nowrap;
}
#mega-menu-wrap-Top ul#mega-menu-Top li a{
    text-decoration: none;
    font-weight: 400;
    color: #777;
    outline: 0;
    font-size: 0.85em;
    letter-spacing: 3px;
}
button.menu-toggle, a.menu-scroll-down{
    display: none;
}
#mega-menu-wrap-Top #mega-menu-Top > li.mega-menu-item > a.mega-menu-link{
    color: #777;
}
#mega-menu-wrap-Top #mega-menu-Top > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link{
    background: #fff;
    color: #777;
}
/* Fin Menu */
/***** FIN HEADER ****/
